.text-iconColor {
    color: #848484;
}

.regresar {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
    color: #848484;
}

.back-container {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}