@import url('https://fonts.googleapis.com/css2?family=Cal+Sans:wght@700;800&family=Inter:wght@300;400;500&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.form-page {
    background: #000000;
    flex-grow: 1;
    z-index: 1;
}

.overlay1 {
    background: radial-gradient(circle at top left, rgba(177, 45, 142, 0.361), transparent 75%);
}

.overlay2 {
    background: radial-gradient(circle at top right, rgba(99, 37, 146, 0.281), transparent 75%);
    opacity: 0.50;
}

.title {
    font-size: 28px;
    font-weight: 800;
    color: white;
}

@keyframes move-color {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.gradient-text {
    background: linear-gradient(to right, #ffffff, #7E25C5, #E0088E);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: move-color 5s linear infinite;
}


.description {
    font-size: 14px;
    font-weight: 300;
    color: #848484;
}

@keyframes move-border {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.form-container {
    position: relative;
    background: rgba(0, 0, 0, 0.58);
    padding: 10px 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(237, 72, 174, 0.228);
}

.form-container::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(to right, #ffffff3b, #7d25c558, #e0088d41, #ffffff45);
    background-size: 200% 200%;
    border-radius: 8px;
    z-index: -1;
    animation: move-border 15s linear infinite;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 2px;
    box-shadow: 8px 8px 8px rgba(224, 8, 141, 0.1);
}

.form-title {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.form-subtitle {
    font-size: 12px;
    font-weight: 300;
    color: #898787;
    text-align: left;
    margin-bottom: 6px;
}

.form-group {
    margin-bottom: 16px;
    position: relative;
    text-align: left;
}

.radio-label {
    color: white;
    font-size: 13px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #8484842c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    /* Agrega esta línea */
}

@keyframes move-color {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.radio-label:hover {
    background: linear-gradient(to right, #ffffff2b, #7d25c553, #e0088d26);
    background-size: 200% 200%;
    color: white;
    font-size: 14px;
    border-color: #8484844c;
    animation: move-color 5s linear infinite;
}

.radio-label input[type="radio"] {
    appearance: none;
    background-color: transparent;
    border: 1px solid #8484842c;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    transition: background-color 0.3s, border-color 0.3s;
}

@keyframes splash {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.radio-label input[type="radio"]:checked::before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #BF7AE4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.radio-label input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 20%;
    width: 8px;
    height: 8px;
    background-color: rgba(191, 122, 228, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    animation: splash 0.6s ease-out forwards;
    z-index: 1;
    pointer-events: none;
}

.radio-label input[type="radio"]:checked {
    border-color: #bf7ae42f;
}

.radio-label input[type="radio"]:checked+.radio-label {
    background-color: rgba(191, 122, 228, 0.18);
    border-color: #bf7ae42f;
}

.input {
    background: rgba(0, 0, 0, 0.011);
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #8484842c;
    width: 100%;
    color: white;
    font-size: 14px;
    margin-top: 6px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.123);
    transition: box-shadow 0.3s;
}

.input:focus {
    outline: none;
    box-shadow: 1px 1px 5px 1px #7d25c52b, 1px 1px 5px 1px #f4f4f44b;
}

.submit-button.inactive {
    background: #1A1A1A;
    color: rgb(10, 9, 9);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.submit-button.active {
    background: white;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.legal-container {
    background: rgba(191, 122, 228, 0.096);
    padding: 3px;
    border-radius: 8px;
    border: 1px solid #8484842c;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 12px;
}

.legal-text {
    color: #ffffff;
    font-size: 11px;
    display: inline-block;
}

.aviso {
    color: #BF7AE4;
    font-weight: 800;
}

.legal-icon {
    color: #BF7AE4;
    stroke-width: 2;
    width: 20px;
    height: 15px;
    margin-left: 2px;
    vertical-align: middle;
}

@media (max-width: 640px) {
    .title {
        font-size: 20px;
    }

    .title .gradient-text {
        display: block;
    }
}