/* Estilos globales */

@import './styles/fonts.css';

:root {
  --black-background: #000000;
  --pink: #E0088E;
  --purple: #7E25C5;
  --white: #FFFFFF;
  --gray-background-button: #1A1A1A;
  --gray-selection: rgba(255, 255, 255, 0.19);
  --purple-background-warn: rgba(191, 122, 228, 0.18);
  --gray-light: #848484;
  --purple-selection: #BF7AE4;
  --dark-gray: #181616;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Cal Sans", "Inter", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}