/* Estilos globales */

@import './styles/fonts.css';

:root {
  --black-background: #000000;
  --pink: #E0088E;
  --purple: #7E25C5;
  --white: #FFFFFF;
  --gray-background-button: #1A1A1A;
  --gray-selection: rgba(255, 255, 255, 0.19);
  --purple-background-warn: rgba(191, 122, 228, 0.18);
  --gray-light: #848484;
  --purple-selection: #BF7AE4;
  --dark-gray: #181616;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Cal Sans", "Inter", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* assign the Cal Sans font-family */
html,
body {
  font-family: "Cal Sans";
}

/* usage samples with adjusted letter spacings */
h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
  letter-spacing: 0.01em;
}

h3 {
  font-size: 36px;
  letter-spacing: 0.015em;
}

h4 {
  font-size: 28px;
  letter-spacing: 0.02em;
}

h5 {
  font-size: 20px;
  letter-spacing: 0.03em;
}

h6 {
  font-size: 16px;
  letter-spacing: 0.04em;
}

.quote {
  font-size: 24px;
  letter-spacing: 0.02em;
}

.smaller_cal_sans {
  font-size: 18px;
  letter-spacing: 0.045em;
}